
    <div>
    <%=link_to("BACK",bookslists_path, :class=>'action new')%>
    </div>
    
    <div class="center">
    <table id="index">
    <tr> 
    <!--<th>#</th>-->

    <th>  NAME</th> 
    <th> EMAIL </th> 
    <th>ROLE </th>
    <th> ACTION </th>
    </tr>
    <%@users.each do |user|%>
        <tr id='<%=user.id%>'>
        <!--<td> <%=user.id%> </td>-->
        <td> <%=user.name%> </td>
        <td> <%=user.email%> </td>
        <td> <%=user.role%> </td>
        <td> <!--<%=link_to("show",user_path(user.id),:class=> 'action show')%>-->
                <%=link_to("edit",edit_user_path(user),:class=>' action edit')%>
               <!-- <%=link_to("delete",user_path(user),:method=> 'delete',:class=>' action delete',:remote=> true)%>-->
               </td> <td class="destroy"> Destroy 
                
                
                
            </td>
            
            
            

        </tr>
    <%end%>
    </table>
    </div>
